<div class="col-sm-4 col-sm-offset-4">
  <br>
  <div class="signupbox">
    <%= form_for, :html => { :multipart => true } do |f| %>
      <%= f.label :username, "Username" %>:
      <%= f.text_field :username, class:"form-control", required: true %><br />
      <%= f.label :email, "Email" %>:
      <%= f.email_field :email, class:"form-control", required: true %><br />
      <%= f.label :password, "Password" %>:
      <%= f.password_field :password, class:"form-control", required: true %><br />
      <%= f.label :password, "Retype Password" %>:
      <%= f.password_field :password_confirmation, class:"form-control", required: true %><br />
        <%= f.submit "Join Us!", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>